.comment {
    width: 80%;
}

.comment-value {
    padding: 10px 15px;
    background-color: #f0f0f0;
    border-radius: 4px;
    word-break: break-word;
}

.self {
    margin-left: auto;
}

.self .comment-mark {
    margin-left: auto;
}

.self .comment-value {
    background: #e2ebf4;
}
