medicine-front/.idea/.gitignore
medicine-front/.idea/medicine-front.iml
medicine-front/.idea/modules.xml
medicine-front/.idea/vcs.xml
medicine-front/.idea/codeStyles/codeStyleConfig.xml
medicine-front/.idea/inspectionProfiles/Project_Default.xml
